<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
	  <settings>
		  <!-- TLS is terminated at Treafik, so we need to disable this requirement -->
		  <setting name="Sitecore.Services.AllowToLoginWithHttp" value="true" />
		  <!-- Enable policy to permit remote requests to SSC -->
		  <setting name="Sitecore.Services.SecurityPolicy" value="Sitecore.Services.Infrastructure.Web.Http.Security.ServicesOnPolicy, Sitecore.Services.Infrastructure" />
	  </settings>
  </sitecore>
</configuration>
