@model Feature.Auth.Rendering.Models.Login

<form asp-route="Login" method="post">
    Username:  <input asp-for="Username" /> <br />
    Password: <input asp-for="Password" /><br />
    <button type="submit">Login</button>
</form>